<div class="dark:text-gray-400 pb-3 rounded">
    <div class="flex items-center">
        <span class="inline-block bg-gray-900 text-white rounded-full p-3 px-5 m-3">
            2
        </span>
        <h1 class="flex-grow text-xl font-bold text-white">Happy Holidays! December Release</h1>
    </div>

    <h2 class="my-2 text-lg mt-4 font-bold">
        Notes
    </h2>

    <ul class="list-disc mx-10">
        <li class="leading-loose mb-2">You can now drag-and-drop counters to re-order them</li>
        <li class="leading-loose mb-2">No more editing counter keys. Simply hover over the title and an edit icon will appear. Click to edit the name!</li>
        <li class="leading-loose mb-2">Stats pages can now filter on hits (runs with comments) and export that filtered view</li>
        <li class="leading-loose mb-2">Many bug fixes have gone into this release - most importantly was a fix to address this dialog from appearing after dismissing it</li>
    </ul>
</div>