<div class="dark:text-gray-400 pb-3 rounded">
    <div class="flex items-center">
        <span class="inline-block bg-gray-900 text-white rounded-full p-3 px-5 m-3">
            1
        </span>
        <h1 class="flex-grow text-xl font-bold text-white">First Release!</h1>
    </div>

    <p class="leading-loose">Welcome to the first update for Count Monster. I want to take a moment to thank you for giving this a try.</p>
    <p class="leading-loose">Once you dismiss this message, you won't see it again, so read carefully!</p>

    <h2 class="my-2 text-lg mt-4 font-bold">
        Notes
    </h2>

    <ul class="list-disc mx-10">
        <li class="leading-loose mb-2"><span class="font-bold">It's all in the <em>details</em></span> &mdash; several small tweaks have been made to the UI to help keep focus where it should be.</li>
        <li class="leading-loose mb-2"><span class="font-bold">Return to the Comments</span> &mdash; You can now smash your enter key in the comments to submit the run!</li>
        <li class="leading-loose mb-2"><span class="font-bold">Won't this thing just stay dead?</span> &mdash; The "Add Counter" card is back, but it now has some basic instruction on how to use the UI, and you can dismiss it for good this time!</li>
        <li class="leading-loose mb-2"><span class="font-bold">Just tell me how good I really am!</span> &mdash; The Stats dialog now contains several aggregate stats such as average run time, total time spent running and your hit rate (how often you make a comment on a run).</li>
        <li class="leading-loose"><span class="font-bold">Wait, did that counter count?</span> &mdash; You no longer need to worry if that counter actually went up - the last run's timestamp and duration is displayed on the counter for you to verify!</li>
    </ul>
</div>